/* #sat {
    height: 50px;
    width: 100px;
    border: 2px;
    background-color: blue;
} */


.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}
